antlib >= 1.1b0; sys_platform == 'win32'
click
crcmod
ecdsa
intelhex
libusb1
git+ssh://github.com/NordicSemiconductor/pc-ble-driver-py@0.15.0
piccata
protobuf
pyserial
pyspinel >= 1.0.0a3
pyyaml
tqdm
